/build/
/bin/
/_deps/
CMakeFiles/
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
cmake_install.cmake
/tests/**/*_include.cmake
*.ninja
*.o
*.obj
*.pdb
*.user
compile_commands.json
.vscode/
.idea/
third_party/llama.cpp/
.DS_Store
debug.log
__pycache__/
